.pixle {
  background-color: rgb(192, 198, 202);
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 602px;
  height: 602px;
  gap: 0;
  background-color: rgb(192, 198, 202);
}
body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.value-display {
  color: white;
}

.toggles {
  width: 15vw;
  margin-right: 50px;
  height: 70vh;
  background-color: rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.slider {
  background: red;
}
#buttons {
  width: 50%;
  height: 30px;
}

.visited {
  background-color: black;
}
